<inovea-menu title="Utilisateurs"></inovea-menu>

<table class="ui fixed striped padded inverted grey table">
  <thead>
    <tr><th>Nom</th>
    <th>Prenom</th>
    <th>Mail</th>
    <th>Phone</th>
    <th>Administrateur</th>
  </tr></thead>
  <tbody>
    <tr ng-repeat='user in users' ng-click="setSelected(user._id)" ng-class="{'selected:' user.id === idSelectedUser}">
      <td >{{user.name}}</td>
      <td>{{user.firstname}}</td>
      <td>{{user.mail}}</td>
      <td>{{user.phone}}</td>
      <td class="center aligned"><i class="large green checkmark icon" ng-if="user.admin==true"></i></td>
    </tr>
  </tbody>
  <tfoot class="full-width">
    <tr>
      <th colspan="5">
        <div class="ui right floated small primary labeled icon button">
          <i class="user icon"></i> Add User
        </div>
      </th>
    </tr>
  </tfoot>
</table>



<!--<div ng-repeat="user in users track by $index">
      {{user.firstname}} {{user.name}}
      <i class="remove icon red" ng-click="deleteUser(user._id)"></i>
      <i class="write icon" ng-click="setUpdateUser(user._id, user.name, user.firstname)"></i>

   </div>
   
    <div class="ui input small">
      <input  id="name" type="text" ng-model="newFirstname" placeholder="Firstname">
    </div> 
    <div class="ui input small">
      <input id="firstname" type="text" ng-model="newName"  placeholder="Name"><br>
    </div>
    <div>
      <button ng-if="idSelectedUser == '' " class="ui button small green" ng-click="addUser()">+ Add</button>
      <button ng-if="idSelectedUser != '' " class="ui button small blue" ng-click="updateUser()">Update</button>
</div>-->