<!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">-->


<inovea-menu title="Conteneurs"></inovea-menu>

<table class="ui fixed striped selectable padded inverted grey table">
  <thead>
    <tr>
      <th>
        <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">Nom
          <i class="sort ascending icon" ng-show="sortType == 'name' && sortReverse"></i>
          <i class="sort descending icon" ng-show="sortType == 'name' && !sortReverse"></i>
          <!--<span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>-->
        </a>
      </th>
      <th>
        <a href="" ng-click="sortType = 'lat'; sortReverse = !sortReverse">Latitude
          <i class="sort ascending icon" ng-show="sortType == 'lat' && sortReverse"></i>
          <i class="sort descending icon" ng-show="sortType == 'lat' && !sortReverse"></i>
        </a>  
      </th>
      <th>
        <a href="" ng-click="sortType = 'lng'; sortReverse = !sortReverse">Longitude
          <i class="sort ascending icon" ng-show="sortType == 'lng' && sortReverse"></i>
          <i class="sort descending icon" ng-show="sortType == 'lng' && !sortReverse"></i>
        </a> 
      </th>
      <th>
        <a href="" ng-click="sortType = 'address'; sortReverse = !sortReverse">Adresse
          <i class="sort ascending icon" ng-show="sortType == 'address' && sortReverse"></i>
          <i class="sort descending icon" ng-show="sortType == 'address' && !sortReverse"></i>
        </a>
      </th>
      <th>
        <a href="" ng-click="sortType = 'lastCollect'; sortReverse = !sortReverse">Dernière Collecte
          <i class="sort ascending icon" ng-show="sortType == 'lastCollect' && sortReverse"></i>
          <i class="sort descending icon" ng-show="sortType == 'lastCollect' && !sortReverse"></i>
        </a>
      </th>
      <th>
        <a href="" ng-click="sortType = 'commentaire'; sortReverse = !sortReverse">Commentaire
          <i class="sort ascending icon" ng-show="sortType == 'commentaire' && sortReverse"></i>
          <i class="sort descending icon" ng-show="sortType == 'commentaire' && !sortReverse"></i>
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='container in containers.data | orderBy:sortType:sortReverse | filter:searchFish' ng-click="openContainerInfoView(container)">
      <!--ng-click="setSelected(user._id)" ng-class="{'selected:' user.id === idSelectedUser}-->
      <td >{{container.name}}</td>
      <td>{{container.lat}}</td>
      <td>{{container.lng}}</td>
      <td>{{container.address}}</td>
      <td>{{container.lastCollect}}</td>
      <td>{{container.commentaire}}</td>
     <!-- <td class="center aligned"><i class="large green checkmark icon" ng-if="user.admin==true"></i></td>-->
    </tr>
  </tbody>
  <tfoot class="full-width">
    <tr>
      <th>
        <div class="ui fluid category search">
          <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Rechercher..." ng-model="searchFish">
            <i class="search icon"></i>
          </div>
        <div class="results"></div>
      </th>
      <th colspan="5">
        <div class="ui right floated small primary labeled icon button">
          <i class="user icon"></i> Ajouter
        </div>
      </th>
    </tr>
  </tfoot>
</table>

<!-- INFO CONTROLLER VIEW -->
<div id="infoContainerModal" class="ui modal">
  <div class="header">Informations
      <i class="remove red icon exitIcon" ng-click="closeContainerInfoView()"></i>
  </div>
   
  <div class="content">
    <form class="ui fluid form">

      <div class="field">
        <div class="ui pointing below label">
          Nom
        </div>
        <div class="ui small icon input">
          <input type="text" ng-if="isEditableInfoView" ng-model="selectedContainer.name">
        </div>
        <div ng-if="!isEditableInfoView">{{selectedContainer.name}}</div>
      </div>

      <div class="ui divider"></div>
      <div class="field">
        <div class="ui pointing below label">
          Latitude
        </div>
        <div class="ui small icon input">
          <input type="text" ng-if="isEditableInfoView" ng-model="selectedContainer.lat">
        </div>
          <div ng-if="!isEditableInfoView">{{selectedContainer.lat}}</div>
        </div>
      
      <div class="ui divider"></div>
      <div class="field">
        <div class="ui pointing below label">
          Longitude
        </div>
        <div class="ui small icon input">
          <input type="text" ng-if="isEditableInfoView" ng-model="selectedContainer.lng">
        </div>
          <div ng-if="!isEditableInfoView">{{selectedContainer.lng}}</div>
        </div>

      <div class="ui divider"></div>
      <div class="field">
        <div class="ui pointing below label">
          Adresse
        </div>
        <div class="ui small icon input">
          <input type="text" ng-if="isEditableInfoView" ng-model="selectedContainer.address">
        </div>
          <div ng-if="!isEditableInfoView">{{selectedContainer.address}}</div>
        </div>

      <div class="ui divider"></div>  
      <div class="field">
        <div class="ui pointing below label">
          Commentaire
        </div>
        <div class="ui small icon input">
          <input type="text" ng-if="isEditableInfoView" ng-model="selectedContainer.commentaire">
        </div>
          <div ng-if="!isEditableInfoView">{{selectedContainer.commentaire}}</div>
        </div>
    </form>

    <div class="ui buttons" ng-if="!isEditableInfoView">
      <button class="ui grey button" ng-click="editInputs()">Modifier</button>
      <div class="or" data-text="ou"></div>
      <button class="ui red button">Supprimer</button>
    </div>
    <div class="ui buttons" ng-if="isEditableInfoView">
      <button class="ui grey button" ng-click="editInputs()">Annuler</button>
      <div class="or" data-text="ou"></div>
      <button class="ui green button" ng-click="updateContainer()">Enregistrer</button>
    </div>

  </div>



<!--<div ng-repeat="user in users track by $index">
      {{user.firstname}} {{user.name}}
      <i class="remove icon red" ng-click="deleteUser(user._id)"></i>
      <i class="write icon" ng-click="setUpdateUser(user._id, user.name, user.firstname)"></i>

   </div>
   
    <div class="ui input small">
      <input  id="name" type="text" ng-model="newFirstname" placeholder="Firstname">
    </div> 
    <div class="ui input small">
      <input id="firstname" type="text" ng-model="newName"  placeholder="Name"><br>
    </div>
    <div>
      <button ng-if="idSelectedUser == '' " class="ui button small green" ng-click="addUser()">+ Add</button>
      <button ng-if="idSelectedUser != '' " class="ui button small blue" ng-click="updateUser()">Update</button>
</div>-->