<inovea-menu title="Map"></inovea-menu>
<div class="pageContent">
	<!--input type="text" id="searchTxt" placeholder="Pays, ville, rue, cp..."></input>
<button onclick="majSearch()">Rechercher</button-->
<table style="border:solid black 1px; width:100%; height:100%">
    <tr>
        <td style="width:75%">


<div id="actionButtons">
        <button type="button" ng-click="openNewErrandPopup()">Créer</button>
</div>
<div id="newErrandDiv">
   <div id="newErrandPopup">
        <div id="newErrandPopupHeader" align="center">Nouveau trajet</div>
        <div id="newErrandPopupContent" align="center">
            Some content
        </div>
        <div id="newErrandPopupFooter">
            <div id="newErrandPopupFooterActions">
            </div>
            <div id="newErrandPopupFooterButtons" align="center">
                <div class="ui buttons">
                    <button class="ui button" ng-click="closeNewErrandPopup()">Annuler</button>
                    <div class="or" data-text="ou"></div>
                    <button class="ui positive button">Créer</button>
                </div>
            </div>
            
        </div>

   </div>
</div>

            <div id="map_canvas" style="width:100%; height:100%">
            </div>


        </td>
        <!--td class="containersList">
            <div class="containersListContent">
                <h1>Liste de conteneurs</h1>
                <br><br>
                <div id="table"></div>
            </div>
            <div>
                <div>
                    <span id="errandDistance"></span><span id="errandDistanceDifference"></span>
                </div>
                <div>
                    <span id="errandHours"></span><span id="errandMinutes"></span> <span id="errandHoursDifference"></span><span id="errandMinutesDifference"></span>
                </div>
                <br>
                <div>
                    Date : <input class="datepicker" onclick="pickerDate()" type="text"></input>
                </div>
                <br>
                <div>
                    Heure : <input class="timepicker" onclick="pickerTime()" type="text"></input>
                </div>
                <br>
                <div>
                    <INPUT id="optimizeCheckbox" onclick="optimizeItinerary()" type="checkbox" name="choix1" value="1"> Optimiser les points interm&eacute;diaires
                </div>
                <br>
                <span>Attribuer la course &agrave;</span>
                <select id="courierList"></select> 
                <div class="createButton">
                    <button onclick="createErrand()">Cr&eacute;er la course</button>
                </div>
            </div>
        </td-->
    </tr>
</table>
</div>