.menuIcon {
    width: 40px;
    height: 40px;
}

.pageContent {
    height: 100vh;
    margin: 0px;
    padding: 0px
}

#actionButtons {
    width: 200px;
    height: 40px;
    background-color: #4791FF;
    position: absolute;
    z-index: 99;
    border-radius: 15px;
}

.examplediv {
    position: absolute;
    border: solid 5px #000;
}

#map_canvas {
    height: 100%;
    background-color: #666970;
}

/*
	All popups
*/
.popupHeader {
    color: white;
    padding-top: 10px;
    font-size: 24px;
    font-weight: bold;
    height: 50px;
}

/*
	New Container Popup
*/
#newContainerDiv {
    position: absolute;
    left: 16%;
    top:12%;
}

#newContainerPopup {
    margin-left: 70%;
    position: absolute;
    width: 900px;
    height: 550px;
    top: 10px;
    left: 10px;
    z-index: 99;
    border-radius: 4px;
    background-color: #4791FF
}

#newContainerPopupContent {
    height: 440px;
    padding: 10px;
    background-color: white;
}

#newContainerPopupFooter {
    height: 50px;
}

#newContainerPopupFooter {
    margin-top: 15px;
}

/*
	New ErrandPopup
*/
#newErrandDiv {
    position: absolute;
    left:75%;
    top:20%;
}

#newErrandPopup {
    margin-left: 70%;
    position: absolute;
    width: 280px;
    height: 450px;
    top: 10px;
    left: 10px;
    z-index: 99;
    border-radius: 4px;
    background-color: #4791FF
}

#newErrandPopupContent {
    height: 300px;
    background-color: white;
}

#newErrandPopupFooter {
    height: 100px;
}

#newErrandPopupFooterActions {
    height: 60px;
}

#newErrandPopupFooterButtons {
    height: 40px;
    vertical-align: middle;
}