 <div class="ui left demo vertical inverted sidebar labeled icon menu">
    <a class="item" ng-click="goToView('/map')">
      <img class="menuIcon" src="../img/map.png">
    </a>
    <a class="item" ng-click="goToView('/usersView')">
      <img class="menuIcon" src="../img/user.png">
    </a>
    <a class="item" ng-click="goToView('/containersView')">
      <img class="menuIcon" src="../img/container.png">
    </a>
  </div>
  <div class="pusher">
    <!-- Site content !-->
  </div>

<div class="inoveaHeader">
          <i class="sidebar icon sidebarIcon" ng-click="openMenu()"></i>
          <span style="color:white;">{{title}}</span>
</div>

  