<inovea-menu title="Alertes"></inovea-menu>

<!--
Loader
-->
<div id="alertLoader" class="ui dimmer">
    <div class="ui text loader">Loading</div>
</div>

<!-- TABLEAUX D'UTILISATEUR -->
  <table class="ui fixed striped selectable padded inverted grey table">
    <thead>
      <tr>
        <th>
          <a href="" ng-click="sortType='startDate'; sortReverse = !sortReverse">Crée le
            <i class="sort ascending icon" ng-show="sortType == 'startDate' && sortReverse"></i>
            <i class="sort descending icon" ng-show="sortType == 'startDate' && !sortReverse"></i>
          </a>
        </th>
        <th>
          <a href="" ng-click="sortType='a_type'; sortReverse = !sortReverse">Type
            <i class="sort ascending icon" ng-show="sortType == 'a_type' && sortReverse"></i>
            <i class="sort descending icon" ng-show="sortType == 'a_type' && !sortReverse"></i>
          </a>
        </th>
        <th>
          <a href="" ng-click="sortType='comment'; sortReverse = !sortReverse">Description
            <i class="sort ascending icon" ng-show="sortType == 'comment' && sortReverse"></i>
            <i class="sort descending icon" ng-show="sortType == 'comment' && !sortReverse"></i>
          </a>
        </th>
        <th>
          <a href="" ng-click="sortType='state'; sortReverse = !sortReverse">Etat
            <i class="sort ascending icon" ng-show="sortType == 'state' && sortReverse"></i>
            <i class="sort descending icon" ng-show="sortType == 'state' && !sortReverse"></i>
          </a>
        </th>
        <th>
          <a href="" ng-click="sortType='containerLibelle'; sortReverse = !sortReverse">Conteneur
            <i class="sort ascending icon" ng-show="sortType == 'containerLibelle' && sortReverse"></i>
            <i class="sort descending icon" ng-show="sortType == 'containerLibelle' && !sortReverse"></i>
          </a>
        </th>
        <!--<th>
          <a href="" ng-click="sortType = 'firstname'; sortReverse = !sortReverse">Prenom
            <i class="sort ascending icon" ng-show="sortType == 'firstname' && sortReverse"></i>
            <i class="sort descending icon" ng-show="sortType == 'firstname' && !sortReverse"></i>
          </a>  
        </th>
        <th>
          <a href="" ng-click="sortType = 'mail'; sortReverse = !sortReverse">Mail
            <i class="sort ascending icon" ng-show="sortType == 'mail' && sortReverse"></i>
            <i class="sort descending icon" ng-show="sortType == 'mail' && !sortReverse"></i>
          </a> 
        </th>
        <th>
          <a href="" ng-click="sortType = 'phone'; sortReverse = !sortReverse">Telephone
            <i class="sort ascending icon" ng-show="sortType == 'phone' && sortReverse"></i>
            <i class="sort descending icon" ng-show="sortType == 'phone' && !sortReverse"></i>
          </a>
        </th>
        <th>
          <a href="" ng-click="sortType = 'admin'; sortReverse = !sortReverse">Administrateur
            <i class="sort ascending icon" ng-show="sortType == 'admin' && sortReverse"></i>
            <i class="sort descending icon" ng-show="sortType == 'admin' && !sortReverse"></i>
          </a>
        </th>-->
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='alert in alerts.data | orderBy:sortType:sortReverse | filter:searchAlert' >
        <td >{{alert.startDate}}</td>
        <td >{{alert.a_type}}</td>
        <td >{{alert.comment}}</td>
        <td >{{alert.state}}</td>
        <td >{{alert.containerLibelle}}</td>

        <!--<td>{{user.firstname}}</td>
        <td>{{user.mail}}</td>
        <td>{{user.phone}}</td>
        <td class="center aligned"><i class="large green checkmark icon" ng-if="user.admin==true"></i></td>-->
      </tr>
    </tbody>
    <!--tfoot class="full-width">
      <tr>
        <th>
          <div class="ui fluid category search">
            <div class="ui icon input">
              <input class="prompt" type="text" placeholder="Rechercher..." ng-model="searchUser">
              <i class="search icon"></i>
            </div>
            <div class="results"></div>
          </th>
          <th colspan="5">
            <div class="ui right floated small primary labeled icon button" ng-click="openUserAddView()">
              <i class="user icon"></i> Ajouter
            </div>
          </th>
        </tr>
      </tfoot-->
    </table>