<inovea-menu title="Alertes"></inovea-menu>

<!--
Loader
-->
<div id="alertLoader" class="ui dimmer">
  <div class="ui text loader">Loading</div>
</div>

<!-- TABLEAUX D'UTILISATEUR -->
<table class="ui fixed striped selectable padded inverted grey table">
  <thead>
    <tr>
      <th>
        <a href="" ng-click="sortType='startDate'; sortReverse = !sortReverse">Crée le
          <i class="sort ascending icon" ng-show="sortType == 'startDate' && sortReverse"></i>
          <i class="sort descending icon" ng-show="sortType == 'startDate' && !sortReverse"></i>
        </a>
      </th>
      <th>
        <a href="" ng-click="sortType='a_type'; sortReverse = !sortReverse">Type
          <i class="sort ascending icon" ng-show="sortType == 'a_type' && sortReverse"></i>
          <i class="sort descending icon" ng-show="sortType == 'a_type' && !sortReverse"></i>
        </a>
      </th>
      <th>
        <a href="" ng-click="sortType='comment'; sortReverse = !sortReverse">Description
          <i class="sort ascending icon" ng-show="sortType == 'comment' && sortReverse"></i>
          <i class="sort descending icon" ng-show="sortType == 'comment' && !sortReverse"></i>
        </a>
      </th>
      <th>
        <a href="" ng-click="sortType='state'; sortReverse = !sortReverse">Etat
          <i class="sort ascending icon" ng-show="sortType == 'state' && sortReverse"></i>
          <i class="sort descending icon" ng-show="sortType == 'state' && !sortReverse"></i>
        </a>
      </th>
      <th>
        <a href="" ng-click="sortType='containerLibelle'; sortReverse = !sortReverse">Conteneur
          <i class="sort ascending icon" ng-show="sortType == 'containerLibelle' && sortReverse"></i>
          <i class="sort descending icon" ng-show="sortType == 'containerLibelle' && !sortReverse"></i>
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='alert in alerts.data | orderBy:sortType:sortReverse | filter:searchAlert' ng-click="openAlertInfoView(alert)">
      <td >{{alert.startDate}}</td>
      <td >{{alert.a_type}}</td>
      <td >{{alert.comment}}</td>
      <td >{{alert.state}}</td>
      <td >{{alert.container_id}}</td>
    </tr>
  </tbody>
</table>



<!-- INFO ALERT VIEW -->
<div id="infoAlertModal" class="ui modal">
 <div class="header">
  Informations
  <i class="remove red icon exitIcon" ng-click="closeAlertInfoView()"></i> 
</div>
<div class="content">
  <form class="ui fluid form">

    <div class="field">
      <label>Conteneur</label>
      <div class="ui small icon input">
        <input type="text" ng-if="isEditableInfoView" ng-model="selectedAlert.container_id" disabled="">
      </div>
      <div ng-if="!isEditableInfoView">{{selectedAlert.container_id}}</div>
    </div>

    <div class="ui divider"></div>

    <div class="two fields">
      <div class="field">
        <label>Crée le</label>
        <div class="ui small icon input">
          <input type="date" ng-if="isEditableInfoView" ng-model="selectedAlert.startDate" disabled="">
        </div>
        <div ng-if="!isEditableInfoView">{{selectedAlert.startDate}}</div>
      </div>

      <div class="ui divider"></div>
      <div class="field">
        <label>Par</label>
        <div class="ui small icon input">
          <input type="text" ng-if="isEditableInfoView" ng-model="selectedAlert.user_id_create" disabled="">
        </div>
        <div ng-if="!isEditableInfoView">{{selectedAlert.user_id_create}}</div>
      </div>
    </div>

    <div class="ui divider"></div>

    <div class="field">
      <label>Description</label>
      <textarea rows="2" ng-if="isEditableInfoView" ng-model="selectedAlert.comment"></textarea>
      <div ng-if="!isEditableInfoView">{{selectedAlert.comment}}</div>
    </div>


    <div class="ui divider"></div>

    <div class="two fields">
      <div class="field">
        <label>Type</label>
        <div class="ui small icon input">
          <input type="text" ng-if="isEditableInfoView" ng-model="selectedAlert.a_type">
        </div>
        <div ng-if="!isEditableInfoView">{{selectedAlert.a_type}}</div>
      </div>

      <div class="ui divider"></div>
      <div class="field">
        <label>Etat</label>
        <div class="ui small icon input">
          <input type="text" ng-if="isEditableInfoView" ng-model="selectedAlert.state">
        </div>
        <div ng-if="!isEditableInfoView">{{selectedAlert.state}}</div>
      </div>
    </div>

    <div class="ui divider" ng-if="selectedAlert.endDate && selectedAlert.user_id_treatment "></div>

    <div class="two fields" ng-if="selectedAlert.endDate && selectedAlert.user_id_treatment">
      <div class="field">
        <label>Traité le</label>
        <div class="ui small icon input">
          <input type="date" ng-if="isEditableInfoView" ng-model="selectedAlert.endDate" disabled="">
        </div>
        <div ng-if="!isEditableInfoView">{{selectedAlert.endDate}}</div>
      </div>

      <div class="ui divider"></div>
      <div class="field">
        <label>Par</label>
        <div class="ui small icon input">
          <input type="text" ng-if="isEditableInfoView" ng-model="selectedAlert.user_id_treatment" disabled="">
        </div>
        <div ng-if="!isEditableInfoView">{{selectedAlert.user_id_treatment}}</div>
      </div>
    </div>

    <div class="ui divider"></div>

  </form>

  <div align="center">
    <div class="ui buttons" ng-if="!isEditableInfoView">
      <button class="ui grey button" ng-click="editInputs()">Modifier</button>
      <div class="or" data-text="ou"></div>
      <button class="ui red button" ng-click="">Supprimer</button>
    </div>
    <div class="ui buttons" ng-if="isEditableInfoView">
      <button class="ui grey button" ng-click="editInputs()">Annuler</button>
      <div class="or" data-text="ou"></div>
      <button class="ui green button" ng-click="">Enregistrer</button>
    </div>
  </div>


</div>



</div>